<h1>Directivas de atributos</h1>
<h2>Directivas ngClass</h2>

<p [ngClass] = "color == true ? 'texto-1 grande' : 'texto-2'">
    Lorem Ipsum es simplemente el texto de relleno de las imprentas 
    y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar 
    de las industrias desde el año 1500, cuando un impresor 
    (N. del T. persona que se dedica a la imprenta) desconocido 
    usó una galería de textos y los mezcló de tal manera que logró 
    hacer un libro de textos especimen. 
</p>

<p [ngClass] = "color == false ? 'texto-1 grande' : 'texto-2'">
    Lorem Ipsum es simplemente el texto de relleno de las imprentas 
    y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar 
    de las industrias desde el año 1500, cuando un impresor 
    (N. del T. persona que se dedica a la imprenta) desconocido 
    usó una galería de textos y los mezcló de tal manera que logró 
    hacer un libro de textos especimen. 
</p>

<hr>
<h2>Directivas ngStyle</h2>
<p [style.border] = "borde == true ? '1px solid black' : '1px solid red'">
    Lorem Ipsum es simplemente el texto de relleno de las imprentas 
    y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar 
    de las industrias desde el año 1500, cuando un impresor 
    (N. del T. persona que se dedica a la imprenta) desconocido 
    usó una galería de textos y los mezcló de tal manera que logró 
    hacer un libro de textos especimen. 
</p>
<p [style.border] = "borde == false ? '1px solid black' : '1px solid red'">
    Lorem Ipsum es simplemente el texto de relleno de las imprentas 
    y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar 
    de las industrias desde el año 1500, cuando un impresor 
    (N. del T. persona que se dedica a la imprenta) desconocido 
    usó una galería de textos y los mezcló de tal manera que logró 
    hacer un libro de textos especimen. 
</p>

<br/>
<hr>

<h2>Directivas Estructurales</h2>

<h3>ngFor</h3>

<ol>
    <li *ngFor="let pais of Lista">
        {{pais}}
    </li>
</ol>

<h2>Directivas Condicionales</h2>

<h3>NgIf</h3>
<ol>
    <li *ngFor="let pais of Lista">
      <div *ngIf="pais == 'Argentina'"> {{pais}} </div>  
    </li>
</ol>

<h3>NgSwitch</h3>

<div [ngSwitch]="Edad"> 
    <div *ngSwitchCase="10">Tu edad es 10</div>
    <div *ngSwitchCase="20">Tu edad es 20</div>
    <div *ngSwitchCase="30">Tu edad es 30</div>
    <div *ngSwitchDefault =" ">Tu edad es Otra</div>
</div>

<br/>

<h2>Pipes</h2>

<p>{{Fecha}}</p>
<p>{{Fecha | date}}</p>
<p>{{Fecha | date: 'dd/MM/YY'}}</p>